.el1{
    color: blue;
    font-size: 25px;
}
.el2{
    color: blueviolet;
    font-size: 30px;
}
.el3{
    color: brown;
    font-size: 35px;
}
.el4{
    color: burlywood;
    font-size: 40px;
}
.el5{
    color: cadetblue;
    font-size: 45px;
}